<mat-form-field style="width: 100%;" [appearance]="'outline'" class="passoword-form-field">
  <mat-label>{{label()}}</mat-label>
  <input [required]="required()" [type]="showPassword ? 'text' : 'password'" matInput
    placeholder="{{label()}}" [formControl]="control()" />

  <mat-icon class="auth-icons" matIconPrefix>lock</mat-icon>
  <button type="button" mat-icon-button matSuffix (click)="showPassword = !showPassword">
    <mat-icon class="auth-icons" >{{showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>
  @if (required() && control().hasError('required')) {
  <mat-error>Please enter a password</mat-error>
  }
</mat-form-field>
