<div class="hero-section">
  <div class="hero-content">

    <!-- Left Side -->
    <div class="left-side">
      <h1 class="hero-title">
        Track Student Favours & <br />
        <span class="highlight">Build School Community</span>
      </h1>

      <p class="hero-subtext">
        Help students keep track of favours, build meaningful connections, and create a supportive
        school environment where kindness is recognized and rewarded.
      </p>


      <div class="hero-footer">
            <button mat-flat-button color="primary" class="main-btn" [routerLink]="'/create-favour'" >Start Tracking Favors</button>
      <button mat-stroked-button color="primary" class="secondary-btn" [routerLink]="'/favour-requests'">Browse Requests</button>

      </div>
    </div>

  </div>
</div>
